@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  * {
      box-sizing: border-box;
  }
  
  body {
      background: url('https://cdn.pixabay.com/photo/2016/10/29/01/43/abstract-1779644__340.png');
      font-family: 'Roboto', sans-serif;
      background-position: center center;
      background-size: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      overflow: hidden;
      margin: 0;
  }
  
  button {
      background-color: rgb(4, 108, 156);
      color: #fff;
      border: 1px rgb(190, 126, 30) solid;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 20px 30px;
      overflow: hidden;
      margin: 10px 0;
      position: relative;
  }
  
  button:focus {
      outline: none;
  }
  
  button .circle {
      position: absolute;
      background-color: rgb(158, 59, 42);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0);
      animation: scale 0.5s ease-out;
  }
  
  @keyframes scale {
      to {
          transform: translate(-50%, -50%) scale(3);
          opacity: 0;
      }
  }